[user]
	name = erija952
	email = erija952@gmail.com

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --date=local --pretty=\"%ai %h %an - %s\"
	l = log --date=local
	rlog = log --date=relative
	in = log --stat --date=local HEAD..origin/master
	out = log --stat --date=local origin/master..HEAD
	wdiff = diff --word-diff
	fp = format-patch -k --stdout
[color]
	branch = auto
        diff = auto
        status = auto
[color "branch"]
        current = yellow reverse
	local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
 	changed = green
        untracked = cyan
